kitchensink/wsdl/MemberWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.kitchensink.quickstarts.as.jboss.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MemberWebServiceService" targetNamespace="http://ws.kitchensink.quickstarts.as.jboss.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.kitchensink.quickstarts.as.jboss.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.kitchensink.quickstarts.as.jboss.org/" version="1.0">
  <xs:element name="createMember" type="tns:createMember"/>
  <xs:element name="createMemberResponse" type="tns:createMemberResponse"/>
  <xs:element name="getAllMembers" type="tns:getAllMembers"/>
  <xs:element name="getAllMembersResponse" type="tns:getAllMembersResponse"/>
  <xs:element name="member" type="tns:member"/>
  <xs:complexType name="createMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:member"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="member">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createMemberResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllMembers">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllMembersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:member"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createMemberResponse">
    <wsdl:part element="tns:createMemberResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createMember">
    <wsdl:part element="tns:createMember" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllMembersResponse">
    <wsdl:part element="tns:getAllMembersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllMembers">
    <wsdl:part element="tns:getAllMembers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MemberWebService">
    <wsdl:operation name="createMember">
      <wsdl:input message="tns:createMember" name="createMember">
    </wsdl:input>
      <wsdl:output message="tns:createMemberResponse" name="createMemberResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllMembers">
      <wsdl:input message="tns:getAllMembers" name="getAllMembers">
    </wsdl:input>
      <wsdl:output message="tns:getAllMembersResponse" name="getAllMembersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberWebServiceServiceSoapBinding" type="tns:MemberWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createMember">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createMember">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createMemberResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllMembers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllMembers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllMembersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberWebServiceService">
    <wsdl:port binding="tns:MemberWebServiceServiceSoapBinding" name="MemberWebServicePort">
      <soap:address location="http://localhost:8080/kitchensink/MemberWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>